JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

REDIS_URL=
DATABASE_URL=

NODE_ENV=development
SKIP_ADMIN_IP_CHECK=true

# Firebase Cloud Messaging (FCM) credentials
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=
FCM_VAPID_KEY=

# payment gateway credentials
STRIPE_WEBHOOK_SECRET=
KHALTI_SECRET_KEY=
ESEWA_SECRET_KEY=
CONNECTIPS_SECRET_KEY=
CONNECTIPS_MERCHANT_ID=
CONNECTIPS_APP_ID=
CONNECTIPS_APP_NAME=
EMAIL_USER=
EMAIL_PASS=

# Meta Ads
META_ACCESS_TOKEN=          
META_AD_ACCOUNT_ID=        
META_PAGE_ID=
META_API_VERSION=v21.0       

# Google Ads
GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_CUSTOMER_ID=
GOOGLE_ADS_LOGIN_CUSTOMER_ID=
GOOGLE_ADS_API_VERSION=v24

# Instagram OAuth
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=

# currency converter API
CURRENCY_API_KEY=

# WEATHER API 
WEATHER_API_KEY=af8a1d11c6aa72facd1d5078046eb63e
