JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

REDIS_URL=
DATABASE_URL=

# Firebase Cloud Messaging (FCM) credentials
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=
FCM_VAPID_KEY=

# payment gateway credentials
STRIPE_WEBHOOK_SECRET=
KHALTI_SECRET_KEY=
ESEWA_SECRET_KEY=
CONNECTIPS_SECRET_KEY=
CONNECTIPS_MERCHANT_ID=
CONNECTIPS_APP_ID=
CONNECTIPS_APP_NAME=
EMAIL_USER=
EMAIL_PASS=